extends layout

block content
    .col-lg-12.text-center
        #map(style='width:100%;height:1000px;')
        input(id='curPos' type='button' value='현재위치')
        script(type='text/javascript' src=appKey)
        script(src='/vendor2/jquery/jquery.min.js')
        script(src='/javascripts/kakaoMap.js')
